<div class="divider-content text-center">
    <h4 class="title hidden-sm-down">Let’s Connect On Social</h4>
    <h4 class="title2 hidden-md-up collapsed" data-bs-toggle="collapse" data-bs-target="#dividerId-1">Let’s Connect On Social</h4>
    <div id="dividerId-1" class="collapse">
      <div class="social-icons">
        <a href="#/"><i class="la la-facebook"></i></a>
        <a href="#/"><i class="la la-twitter"></i></a>
        <a href="#/"><i class="la la-youtube"></i></a>
        <a href="#/"><i class="la la-instagram"></i></a>
      </div>
      <p class="mb-sm-25">Follow us on your favorite platforms. Check out new launch teasers, how-to videos, and share your favorite looks.</p>
    </div>
  </div>