<section class="home-slider-area">    
    <div class="swiper-container swiper-pagination-style home-slider-container default-slider-container">
      <div class="swiper-wrapper home-slider-wrapper slider-default">
        <div class="swiper-slide">
          <div class="slider-content-area" data-bg-img="assets/img/slider/slider-01.jpg">
            <div class="container">
              <div class="row justify-content-end">
                <div class="col-10 col-sm-6 col-md-5">
                  <div class="slider-content animate-pulse">
                    <h5 class="sub-title transition-slide-0">Real cover pink cushion</h5>
                    <h2 class="title transition-slide-1 mb-0"><span class="font-weight-400">Face Makeup</span></h2>
                    <h2 class="title transition-slide-2">Sale 40% Off</h2>
                    <a class="btn-slide transition-slide-3" href="#/">Shop Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slider-content-area" data-bg-img="assets/img/slider/slider-02.jpg">
            <div class="container">
              <div class="row justify-content-end">
                <div class="col-10 col-sm-6 col-md-5">
                  <div class="slider-content animate-flipInX">
                    <h5 class="sub-title transition-slide-0">simple organic</h5>
                    <h2 class="title transition-slide-1 mb-0"><span class="font-weight-400">summer sale</span></h2>
                    <h2 class="title transition-slide-2">10% All Items</h2>
                    <a class="btn-slide transition-slide-3" href="#/">Shop Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slider-content-area" data-bg-img="assets/img/slider/slider-03.jpg">
            <div class="container">
              <div class="row justify-content-end">
                <div class="col-10 col-sm-6 col-md-5">
                  <div class="slider-content animate-jackInTheBox">
                    <h5 class="sub-title transition-slide-0">Organic Skincare</h5>
                    <h2 class="title transition-slide-1 mb-0"><span class="font-weight-400">LOOKING SKIN</span></h2>
                    <h2 class="title transition-slide-2">ANTI-AGEING</h2>
                    <a class="btn-slide transition-slide-3" href="#/">Shop Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--== Add Swiper Pagination ==-->
      <div class="swiper-pagination"></div>
    </div>
  </section>