 <div class="slider-content-area" >
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-10 col-sm-6 col-md-5">
          <div class="slider-content animate-flipInX">
            <h5 class="sub-title transition-slide-0">{{itemCategory}}</h5>
            <h2 class="title transition-slide-1 mb-0"><span class="font-weight-400">{{itemName}}</span></h2>
            <h2 class="title transition-slide-2">{{itemDetail}}</h2>
            <a class="btn-slide transition-slide-3" [routerLink]="link">{{linkText}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>