    <!--== Start Shop Item ==-->
    <div class="product-item">
      <div class="inner-content">
        <div class="product-thumb">
          <a href="single-product.html">
            <img [src]="img" alt="Image-HasTech">
            <img class="second-image" [src]="secondImg" alt="Image-HasTech">
          </a>
          <div class="product-action">
            <div class="addto-wrap">
              <a class="add-wishlist" href="wishlist.html" title="Add to wishlist">
                <i class="icon-heart icon"></i>
              </a>
              
            </div>
          </div>
        </div>
        <div class="product-desc">
          <div class="product-info">
            <h4 class="title"><a href="single-product.html">{{productName}}</a></h4>
            <div class="star-content">
              <i class="ion-md-star"></i>
              <i class="ion-md-star"></i>
              <i class="ion-md-star"></i>
              <i class="ion-md-star"></i>
              <i class="ion-md-star"></i>
            </div>
            <div class="prices">
              <span class="price">{{price}} FCFA</span>
            </div>
          </div>
          <div class="product-footer">
            <a class="btn-quick-view" href="javascript:;" title="Quick view">Quick view</a>
          </div>
        </div>
      </div>
    </div>
    <!--== End Shop Item ==-->
