<div class="divider-content text-center">
    <h4 class="title hidden-sm-down" data-margin-bottom="32">Sign Up For Newsletter</h4>
    <h4 class="title2 hidden-md-up collapsed" data-bs-toggle="collapse" data-bs-target="#dividerId-2">Sign Up For Newsletter</h4>
    <div id="dividerId-2" class="collapse">
      <div class="newsletter-content-wrap">
        <div class="newsletter-form">
          <form>
            <input type="email" class="form-control" placeholder="Your email address">
            <button class="btn btn-submit" type="button">Sign up</button>
          </form>
        </div>
      </div>
      <p>You may unsubscribe at any moment. For that purpose, please find our contact info in the legal notice.</p>
    </div>
  </div>