<div class="wrapper home-default-wrapper">
    <app-preloader></app-preloader>
    <app-header></app-header>
    <main class="main-content">
        <app-swipper>
          <app-swipper-item bgImg="assets/img/slider/slider-01.jpg" linkText="Shop Now" itemCategory="Real cover pink cushion" itemDetail="Sale 40% Off" itemName="Face Makeup" ></app-swipper-item>
          <app-swipper-item bgImg="assets/img/slider/slider-02.jpg" linkText="Shop Now" itemCategory="simple organic" itemDetail="10% All Items" itemName="summer sale" ></app-swipper-item>
          <app-swipper-item bgImg="assets/img/slider/slider-03.jpg" linkText="Shop Now" itemCategory="Organic Skincare" itemDetail="ANTI-AGEING" itemName="LOOKING SKIN" ></app-swipper-item>
        </app-swipper>
  
      <app-products>
        <app-product-item img="assets/img/shop/01.jpg" secondImg="assets/img/shop/01-h1.jpg" price="5.000" productName="Originals Kaval Windbreaker Winter Jac..."></app-product-item>
        <app-product-item img="assets/img/shop/02.jpg" secondImg="assets/img/shop/02-h1.jpg" price="10.000" productName="Juicy Couture Juicy Quilted Terry Track..."></app-product-item>
        <app-product-item img="assets/img/shop/03.jpg" secondImg="assets/img/shop/03-h1.jpg" price="3.500" productName="Madden by Steve Madden Cale 6"></app-product-item>
        <app-product-item img="assets/img/shop/04.jpg" secondImg="assets/img/shop/04-h1.jpg" price="4.000" productName="Trans-Weight Hooded Wind and Water..."></app-product-item>
        <app-product-item img="assets/img/shop/05.jpg" secondImg="assets/img/shop/05-h1.jpg" price="35.000" productName="Water and Wind Resistant Insulated Ja..."></app-product-item>
      </app-products>
      <section class="product-area product-discount-area">
        <div class="container-fluid spacingX-90 pt-0 pb-0">
          <div class="row">
            <div class="col-xxl-9">
              <div class="thumb thumb-scale-hover-style">
                <a href="single-product.html"><img src="assets/img/shop/banner/01.jpg" alt="Image-HasTech" class="hover-img"></a>
              </div>
            </div>
          </div>
        </div>
      </section>
        <app-contact></app-contact>
        <section class="divider-area">
            <div class="container pt-90 pt-lg-70 pb-lg-60">
              <div class="row">
                <div class="col-12">
                  <div class="divider-style-wrap">
                    <div class="row">
                      <div class="col-md-6">
                        <app-social-link></app-social-link>
                      </div>
                      <div class="col-md-6">
                        <app-new-letter-form></app-new-letter-form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    </main>
    <app-footer></app-footer>
</div>