<div class="wrapper home-default-wrapper">
    <app-preloader></app-preloader>
    <app-header></app-header>
    <main class="main-content">
        <app-swipper>
            <app-swipper-item></app-swipper-item>
        </app-swipper>
  
      <app-products></app-products>

        <app-contact></app-contact>
        <section class="divider-area">
            <div class="container pt-90 pt-lg-70 pb-lg-60">
              <div class="row">
                <div class="col-12">
                  <div class="divider-style-wrap">
                    <div class="row">
                      <div class="col-md-6">
                        <app-social-link></app-social-link>
                      </div>
                      <div class="col-md-6">
                        <app-new-letter-form></app-new-letter-form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    </main>
    <app-footer></app-footer>
</div>