<!--== Start Contact Info Area Wrapper ==-->
<section class="bg-black-color">
    <div class="container pt-35 pb-40">
      <div class="row">
        <div class="col-12">
          <div class="contact-info contact-info-static">
            <div class="row">
              <div class="col-border col-12 col-md-4 col-sm-6 border-0">
                <div class="info-item">
                  <div class="icon-box">
                    <i class="icon las la-phone-volume"></i>
                  </div>
                  <p>1800.3687.6886 M-F 9AM-6PM</p>
                </div>
              </div>
              <div class="col-border col-12 col-md-4 col-sm-6 mt-xs-35">
                <div class="info-item">
                  <div class="icon-box">
                    <i class="icon las la-envelope"></i>
                  </div>
                  <p>demo@example.com</p>
                </div>
              </div>
              <div class="col-border col-12 col-md-4 col-sm-12 mt-sm-35">
                <div class="info-item">
                  <div class="icon-box">
                    <i class="icon lab la-facebook-messenger"></i>
                  </div>
                  <p>Virtual Chat 24/7 | Live M-F 9am-6pm</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--== End Contact Info Area Wrapper ==-->