<!--== Start Product Area Wrapper ==-->
<section class="product-area">
    <div class="container pt-95 pt-lg-70">
      <div class="row">
        <div class="col-sm-8 m-auto">
          <div class="section-title text-center">
            <h2 class="title">New Arrivals</h2>
            <div class="desc">
              <p>Add our new arrivals to your weekly lineup</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="product-slider owl-carousel owl-theme">
            <app-product-item></app-product-item>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--== End Product Area Wrapper ==-->